apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - deployment.yaml
  - service.yaml
  - ingress.yaml
images:
  - name: rg.fr-par.scw.cloud/pandormedia/qoffice-qaccount
    newTag: preprod-36f0bd3fffdbea37c5a7b4d61a26265b58fce6d7
