apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - deployment.yaml
images:
  - name: rg.fr-par.scw.cloud/pandormedia/qoffice-qmail-scheduled-worker
    newTag: preprod-300b02069591f7a263e05fcd954eb27cc342d750
