apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - deployment.yaml
images:
  - name: rg.fr-par.scw.cloud/pandormedia/qoffice-qmail-email-listener
    newTag: preprod-latest
