apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - deployment.yaml
  - service.yaml
  - ingress.yaml
images:
  - name: rg.fr-par.scw.cloud/pandormedia/qoffice-qdrive
    newTag: preprod-74f0837e62faaef1e486371f80e22ecc21375a0d
